<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Exercise App</title>
  <!-- 1. The script MUST be in the head to load before your table -->
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token() if csrf_token else "" }}"}'>

  {% extends "layout.html" %}
  {% block content %}
  <h1>Equipment Suggestion</h1>
  <p>Obtain suggestions based on your equipment</p>

  <br>

  <div class="card">
    <h2>Suggestions</h2>

    {% if equipment %}
    # If there are workouts display them in a table with a delete button for each entry
    <table border="1" cellpadding="8" cellspacing="0">
      <thead>
        <tr>
          <th>Equipment</th>
          <th>Suggestion</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for machine in equipment %}
        <tr>
          <td style="text-align: center; vertical-align: middle;">{{ machine.equipment}}</td>

          <td style="vertical-align: middle;">
            <div hx-post="{{ url_for('exercise_getUserSuggestion', equipment=machine.equipment) }}" hx-trigger="load"
              hx-swap="innerHTML">
              Fetching suggestion...
            </div>
          </td>

          <td id="rating-cell-{{ machine.equipment | replace(' ', '-') }}" style="text-align: center; vertical-align: middle;">
            <div hx-get="{{ url_for('exercise_getUserRating', exercise=machine.equipment) }}" hx-trigger="load">
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No equipment</p>
    {% endif %}
  </div>

  {% endblock %}

</body>

</html>